---
asciidoc:
  attributes:
    context: devfile
    che-prod: Eclipse Che
    che-prod-short: Che
    che-prod-id-short: che
    che-prod-ver: 7.20
    prod: Devfile
    prod-short: Devfile
    prod-id-short: devfile
    prod-ver: 2.0
content:
  sources: 
  - branches: HEAD
    edit_url: 'https://github.com/devfile/docs/edit/master/{path}'
    start_path: docs
    url: ./
output:
  destinations:
    - clean: true
      path: build/site
      provider: fs
runtime:
  cache_dir: ./.cache/antora
site:
  robots: allow
  start_page: devfile::index.adoc
  title: Devfile Documentation
  url: https://docs.devfile.io/
ui: 
  bundle:
    snapshot: true
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
  supplemental_files: ./supplemental-ui
urls:
  # html_extension_style: indexify
  redirect_facility: static
