<link rel="stylesheet" href="main.css">
<meta charset="UTF-8">
<title>{{>base/title}}</title>                                             
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">