<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img src="{{uiRootPath}}/img/project-logo.svg" class="navbar-logo" alt="Project logo">
        <a href="https://devfile.io">Devfile.io</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs" autofocus>
          </div>
        </div>
        <a class="navbar-item" href="https://devfile.io/getting-started">Getting Started</a>
        <a class="navbar-item" href="{{site.url}}/index.html">Docs</a>
        <a class="navbar-item" href="https://registry.devfile.io/viewer">Devfile Registry</a>
      </div>
    </div>
  </nav>
</header>
