<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img src="{{uiRootPath}}/img/devfile-logo.svg" class="navbar-logo" alt="Devfile logo" />
        <a href="https://devfile.github.io">Devfile Documentation</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
      </div>
    </div>
  </nav>
  <div class="gcse-searchresults"></div>
</header>